/* TODO: Implement solution here */

.panel.center {
	color: black;
    float: left;
    background-color: #262620;
    width: 90%;
    min-height: 100%;
    display: inline-block;
    margin-left:200px;
}

.panel.center .card {
    vertical-align:top;
    height: 280px;
    width: 185px;
    background: white;
    margin: 12px;

    overflow: hidden;

}

.panel.center .card .cardTop {
    display: inline-block;
    width: inherit;
    height: 26px;
}

.panel.center .card .cardMiddle {
    /*display: inline-block;*/
    width: inherit;
    height: 192px;
}

.panel.center .card .cardBottom {
    width: inherit;
    /*height: 62px;*/
    height:280px;
    background-color: gray;
    opacity: 0.75;
    color: white;
    transition: all 0.5s;

}

.panel.center .card .cardBottom .cardBottomText {
    font-weight: 600;
    color: white;
    line-height: 1.15;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.panel.center .card .cardBottom .cardBottomText .name {
    margin-bottom: 24px;
}

.panel.center .card .cardBottom .cardBottomText .heading {
    color: black;

}

.panel.center .card .cardBottom:hover {
    margin-top: -220px;
}

.panel.center .card .cardImg {
    height:192px;
    width: inherit;
    position: relative;

    transform: scale(0.85, 0.9);
    transition: all 0.5s;

    /*margin-top: -6px;*/
}

.panel.center .card .cardImg:hover {
    transform: scale(1.0,1.03);
}

.panel.center .card .cardTop .cardPlusButton {
    float: left;
}

.panel.center .card .cardTop button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: lightgrey;
}

.panel.center .card .cardTop .winePrice {
    padding-left: 125px;
    font-size: 15px;
    margin-top: 9px;
    /*font-weight: 600;*/
}

#allCards .card {
    display: inline-block;
}
