/* TODO: Implement solution here */

.panel.center {
	color: black;
    float: left;
    background-color: #262620;
    width: 90%;
    min-height: 100%;
    display: inline-block;
}

.panel.center .card {

    height: 260px;
    width: 185px;
    background: white;
    margin: 10px;

}

.panel.center .card .cardTop {
    display: inline-block;
    width: inherit;
}

.panel.center .card .cardImg {
    height: 200px;
    width: inherit;
    position: relative;
}

.panel.center .card .cardTop .cardPlusButton {
    float: left;
}

.panel.center .card .cardTop button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: lightgrey;
}

.panel.center .card .cardTop .winePrice {
    padding-left: 125px;
    font-size: 15px;
    margin-top: 9px;
    /*font-weight: 600;*/
}

#allCards .card {
    display: inline-block;
}
