/* TODO: Implement solution here */

.panel.left {
	width: 12%;
	float: left;
	background-color: #5D5E57;
	min-height: 1000px;
}

.panel.left .top {
	/*height: 10%;*/
    min-height: 150px;
}

.panel.left .bottom {
	/*height: 90%; */
	min-height: 850px;
}

.panel.left .top .logoCircle {
    height: 54px;
    width: 54px;
    border-width: thin;
    border-radius: 50%;
    border-style: solid;
    margin-right: 36%;
    margin-left: 36%;
    margin-top: 29px;
    border-color: white;
}

.panel.left .logoImg {
	height: 42px; 
	padding: 6px;
}

.panel.left .logoText {
	text-align: center;
    margin-top: 10px;
}

.panel.left .logoText h1 {
	line-height: 1.35;
}

.panel.left .bottom .bottomText {
	color: white;
	font-size: 12px;
	line-height: 2;
	margin-left: 15px;
    margin-right: 15px;
}

input {
	width: -webkit-fill-available;
}

select {
    width: -webkit-fill-available;
}

.panel.left .bottom .bottomText li {
}

.panel.left .bottom .bottomText a {
    color: white;
    text-decoration: none;
}

.panel.left .bottom .bottomText li:hover {
    background-color: #42B7C8;
}

