/* TODO: Implement solution here */

.panel.left {
	min-width: 200px;
	float: left;
	background-color: #5D5E57;
	position: fixed;
}

.panel.left .top {
	padding-top: 30px;
    min-height: 136px;
    box-shadow: 0px 0px 11px -3px black;
}

.panel.left .bottom {
	min-height: 850px;
}

.panel.left .top .logoCircle {
    height: 54px;
    width: 54px;
    border-width: thin;
    border-radius: 50%;
    border-style: solid;
    margin-right: 36%;
    margin-left: 36%;
    border-color: white;
}

.panel.left .logoImg {
	height: 42px; 
	padding: 6px;
}

.panel.left .logoText {
	text-align: center;
    margin-top: 10px;
}

.panel.left .logoText h1 {
	line-height: 1.35;
}

.panel.left .logoText .logoWineText {
    font-weight: 900;
    color: white;
    font-size: 150%;
}

.panel.left .logoText .logoCatalogText {
    font-weight: 700;
}

.panel.left .bottom .bottomText {
	color: #b4b4b4;
	font-size: 12px;
	line-height: 2;
	margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
    padding-top: 10px
}

.panel.left .bottom .bottomText h2 {
    font-weight: 900;
}

input {
	width: -webkit-fill-available;
    border-radius: 3px;
}

select {
    width: -webkit-fill-available;
    border-radius: 3px;
}

.panel.left .bottom .bottomText li {
}

.panel.left .bottom .bottomText a {
    color: white;
    text-decoration: none;
}

.panel.left .bottom .bottomText li.active {
    background-color: #42B7C8;
}