html {
    overflow: hidden;
    font-family: Arial;
    font-size: 12px;
    color: #b4b4b4;

    /*my addition*/
    overflow: scroll;
    min-height: 1000px;
}
/* TODO: Implement solution here */

.containerClass {
	 display: flex;
}