/* TODO: Implement solution here */

.panel.right {
	/*width: 14%;*/
	float: left;
    display: -webkit-box;
    background-color: #262620;
    min-height: 100%;
}

.panel.right .toggleButton {

    margin-top: 20px;
    background-color: #5D5E57;
    border: none;
    color: white;
}

.panel.right .shoppingPanel {

    width: 420px;
    display: none;
    box-shadow: 3px 0px 20px 5px black;
}

.panel.right .shoppingPanel .shoppingPanelTop {
    height: 74px;
    background-color: #5D5E57;
    color: white;
}

.panel.right .shoppingPanel .shoppingPanelTop .shoppingPanelTopLabel {
    font-size: 16px;
    padding-top: 11px;
    padding-left: 10px;
    height: 20px;
}

.panel.right .shoppingPanel .blueLine {

    background-color: #42B7C8;
    width: inherit;
    height: 3px;
}

.tableHeadings {

    height: 17px;
    padding-top: 23px;
    text-align: left;
    /*margin-left: 10px;*/
}

.shoppingPanel .cross {
    width: 25px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}

.shoppingPanel .cross button {
    font-style: italic;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    color: #5D5E57;
    border: none;
}

.shoppingPanel .qty {
    width: 45px;
    text-align: center;
}

.shoppingPanel .description {
    width: 200px;
}

.shoppingPanel .price {
    width: 70px;
    text-align: center;
}

.shoppingPanel .amount {
    width: 70px;
    text-align: center;
}

.shoppingPanel tr {
    height: 40px;
}

.panel.right .shoppingPanel .shoppingPanelMiddle {
    min-height: 800px;
}

.panel.right .shoppingPanel .shoppingPanelBottom {
    width: inherit;
}

.panel.right .shoppingPanel .shoppingPanelBottom .totalSection {
    background-color: #5D5E57;
    height: 50px;
    color: white;
}